* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #070B1A, #14011F, #2B0E49);
    color: white;
}

.header {
    text-align: center;
    padding-top: 60px;
}

.title {
    font-size: 81.85px;
    font-weight: 800;
}

.title span {
    background: linear-gradient(90deg, #FFFFFF, #763AF5, #A604F2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.subtitle {
    opacity: 0.7;
    margin-top: 10px;
}

.content {
    width: 1092px;
    height: 576px;
    margin: 60px auto;
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    padding: 40px;
    backdrop-filter: blur(10px);

    display: flex;            
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.form-box h2 {
    margin-bottom: 10px;
}

.form-box .desc {
    opacity: 0.8;
    margin-bottom: 25px;
}

.row {
    display: flex;
    gap: 15px;
}

input, textarea {
    width: 100%;
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.15);
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: white;
}

textarea {
    height: 120px;
}

.btn {
    width: 100%;
    background: linear-gradient(90deg, #763AF5, #A604F2);
    padding: 14px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.image-box img {
    width: 516px;    
    height: 536px;     
    object-fit: cover;
    margin-top: 80px; 
    border-radius: 16px;
}

.image-box img {
    width: 100%;
    border-radius: 16px;
}

.quote {
    font-size: 14px;
    margin-top: 18px;
    opacity: 0.9;
}

.author {
    font-weight: bold;
}
